@import "tailwindcss";

@theme {
  /* Custom Color Palette */
  --color-primary: #FF4500;
  --color-primary-light: #ff7b3a;
  --color-accent: #ffe49a;
  --color-gold: #FFD700;
  --color-dark: #1F1F1F;
  --color-dark-2: #2e2e2e;
  --color-dark-3: #464646;
  --color-light: #FFFFFF;
  --color-light-gray: #e0e0e0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}
